.auto_button{
    position:static;
    transform:translateX(6rem)translateY(-27rem);
    cursor: pointer;
    background-color: var(--main-color-navbar);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 1rem;
}

@media screen and (min-width: 768px){
    .auto_button{
        transform:translateX(5rem)translateY(-27rem);
    } 
}