.vignettesWrapper{
  overflow: scroll;
  max-height:45 vh;
}

.vignetteContainer {
  width: 90vw;
  margin-top: 1rem;
  background-color: var(--main-color-grey);
  display:flex;
  flex-direction:column;
  align-items: center;
  border-radius: 5px;
}

.vignetteIllustration {
  max-width: 90%;
  margin-top: 0.5rem;
  position: center;
}

.vignetteInfos {
  align-self: flex-start;
  margin-left: 1rem;
}

.cityListName{
    list-style: none;
}

.filterError{
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .vignetteContainer {
    width: 22vw;
    margin-left: 1rem;
    
  }

  .vignettesWrapper{
    max-height: 90vh;
    max-width: 25vw;
  }
} ;
