.exploringdisplay{
    display:flex;
    flex-direction:column;
}
.exploringcenter{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.nocities{
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
    .exploringdisplay {
      flex-direction: row;
    }
  } ;
