.NavbarContainer{
    font-family: var(--main-font-title);
    height:10vh;
    background-color: var(--main-color-navbar);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.NavbarMenu{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 2rem; 
}

.NavbarMenu li{
    margin:1rem;
    color:white;
    font-weight:800;
}

h2{
    margin-left: 1rem;
    color: White;
    font-size: 1.8rem;

}



@media screen and (min-width: 768px){
    .NavbarContainer{
        
        flex-direction: row;
    }   

    .NavbarMenu{
        
        flex-direction: row;
        
    }

    h2{
        font-size: 2rem;
    }
}