.Login_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    height: fit-content;
    width: auto;
    padding-top:5rem;
    background-color: var(--main-color-grey);
}

.Login_form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}

.Login_label_container{
    display:flex;
    justify-content:space-between;
    
}

.Login_input{
    margin:1rem;
}

.Login_creer{
    display:flex;
    justify-content: center;
    text-decoration: none;
}

.Login_button{
    border:none;
    background-color: var(--main-color-navbar);
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .Login_wrapper{
        margin-top: 10rem;
    }
}